## ENV
NODE_ENV = local
SERVER_HTTP_PORT = 8000
SERVER_HTTP_HOST =http://localhost

# Swagger
SWAGGER_API='/docs'
SWAGGER_ALLOW='yes'
SWAGGER_USER_NAME='royal'
SWAGGER_PASSWORD='clas$'

# Redis
A_SVC_REDIS_HOST=localhost
A_SVC_REDIS_PORT=6379
B_SVC_REDIS_HOST=localhost
B_SVC_REDIS_PORT=6379